body {
	font-family: Arya;
}



div {
	text-align: center;
	font-family: Arya;
}


a{
	font-size: 50px;
	color: #00b2ff;
	font-family: Arya;

}




h1 {
	font-family: Arya;
	width: auto;
	height: auto;
	font-size: 30px;
	
}
p {
	font-family: Arya;
	margin:auto;
	padding: 10px;
	border-style: solid;
	border-width: small;
	border-radius: 5px; 
	height: auto;
	width: 60%;
	font-size: 20px; 
}
.navbar img {

	margin-right:200px;
}