div {
	font-size: 30px;
	color: #00b2ff;
}

a {
	padding: 50px;
}

body {
	font-family: Arya;
}

.post-list {
	padding-left: 300px;

}
.post img{
	max-width: 100%;
}
.topnav {
	text-align: center;
	margin:100px;
}
.topnav img {
	position: absolute;
	left: 0px;
	top: 0px
	

}