form {
	max-width: 100%;
	text-align: center;
}
.Title {
	margin-top: 100px;
	padding-left: 150px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
}

.Username {
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 150px;
	text-align: left;
}
.Description {
	padding-top: 25px;
	padding-bottom: 25px;
}
select {
	padding-top: 25px;
	padding-bottom: 25px;
}
.active {
	text-align: left;
}
.wiH {
	padding-left: 315px;
	margin-left: 315px;
}
.upload {
	padding-left: 100px;
}